@media(max-width: 1200px)
  .container
    max-width: 1024px

  .header
    padding-top: 24px
  .header-social,
  .hero .header-delimiter
    display: none
  .header-lang
    margin-left: auto

  .hero
    min-height: 0
    padding-bottom: 120px
  .hero-scroll
    display: none
  .hero-image
    width: auto
    height: auto
    background: none
    padding: 0
  .hero-image img
    max-width: 400px

  .company-text p
    font-size: 17px
    margin-top: 30px
  .company-text
    max-width: 600px
  .company-images
    left: 675px

  .projects
    padding: 80px 0
  .projects-footer
    display: flex
  .projects-head
    margin-bottom: 48px
    .btn
      display: none

  .media
    padding: 80px 0
  .media-footer
    display: flex
  .media-head
    margin-bottom: 48px
    .btn
      display: none
  .media-head__text
    width: 100%
  .media-grid
    grid-template-columns: repeat(2, 1fr)
  .media-events
    padding: 80px 0

  .footer
    font-size: 14px

  .portfolio-item img
    height: 320px
  .portfolio-item span
    top: 272px

  .portfolio-card__content
    width: 100%
    order: -1
    margin-bottom: 32px

  .contact-email
    font-size: 46px
  .contact-logo
    width: calc(100% - 660px)
