<section class="contact">
  <div class="container">
    <img src="img/contact-logo.png" alt="" class="contact-logo">
    <div class="contact-content">
      <ul class="contact-social">
        <li><a href="#"><img src="img/svg/linkedin.svg" alt=""></a></li>
        <li><a href="#"><img src="img/svg/telegram.svg" alt=""></a></li>
        <li><a href="#"><img src="img/svg/discord.svg" alt=""></a></li>
        <li><a href="#"><img src="img/svg/facebook.svg" alt=""></a></li>
      </ul>
      <h3 class="contact-title">Разработка игр и&nbsp;приложений</h3>
      <a href="mailto:hello@twobsoft.com" class="contact-email">hello<span>@</span>twobsoft.com</a>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>© 2023 Two B Soft. Все права защищены.</p>
    <p><a href="#">Политика конфиденциальности</a></p>
    <p>Дизайн <a href="#"><b>GRAST.Studio</b></a></p>
  </div>
</footer>