<header class="header">
  <a href="/" class="header-logo"><img src="img/logo.png" alt=""></a>
  <ul class="header-nav">
    {# <li class="active"><a href="#">Портфолио</a></li> #}
    <li><a href="#">Портфолио</a></li>
    <li><a href="#">Медиа</a></li>
  </ul>
  <ul class="header-social">
    <li><a href="#"><img src="img/svg/linkedin.svg" alt=""></a></li>
    <li><a href="#"><img src="img/svg/telegram.svg" alt=""></a></li>
    <li><a href="#"><img src="img/svg/discord.svg" alt=""></a></li>
    <li><a href="#"><img src="img/svg/facebook.svg" alt=""></a></li>
  </ul>
  <div class="header-delimiter"></div>
  <ul class="header-lang">
    <li class="active"><a href="#">ru</a></li>
    <li><a href="#">en</a></li>
  </ul>
  <div class="header-burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="header-breadcrumbs">
    <li><a href="/">Главная</a></li>
    <li><a href="#">{{ site_title }}</a></li>
  </ul>
</header>