<section class="feedback">
  <div class="container">
    <h2 class="title">Ждем ваших сообщений</h2>
    <form action="#" class="feedback-form">
      <label class="feedback-label">
        <input type="text" class="feedback-input" placeholder="Имя" />
        <span class="feedback-icon"></span>
        <span class="feedback-name">Имя</span>
      </label>
      <label class="feedback-label">
        <input type="email" class="feedback-input" placeholder="E-mail" />
        <span class="feedback-icon"></span>
        <span class="feedback-name">E-mail</span>
      </label>
      <label class="feedback-label">
        <input type="tel" class="feedback-input masked" placeholder="Телефон" />
        <span class="feedback-icon"></span>
        <span class="feedback-name">Телефон</span>
      </label>
    </form>
  </div>
</section>