<div class="projects-item">
  <ul class="projects-item__gallery">
    <li><a href="img/company-slide-3.jpg" data-fancybox="project-1"><img src="img/company-slide-3.jpg" alt="" loading="lazy"></a></li>
    <li><a href="img/company-slide-3.jpg" data-fancybox="project-1"><img src="img/company-slide-3.jpg" alt="" loading="lazy"></a></li>
    <li><a href="img/company-slide-3.jpg" data-fancybox="project-1"><img src="img/company-slide-3.jpg" alt="" loading="lazy"></a></li>
    <li><a href="img/company-slide-3.jpg" data-fancybox="project-1"><img src="img/company-slide-3.jpg" alt="" loading="lazy"></a></li>
    <li><a href="img/company-slide-3.jpg" data-fancybox="project-1"><img src="img/company-slide-3.jpg" alt="" loading="lazy"></a></li>
  </ul>
  <div class="projects-item__date">Дата выхода: 17 янв. 2023</div>
  <a href="#" class="projects-item__title">Argy Bargy Legends</a>
  <div class="projects-item__text">
    <p>Коллекционная карточная игра о противостоянии трех фракций: желудей, поплавков и свечей.</p>
    <p><b>Платформа:</b> Steam, Mobile-app</p>
  </div>
</div>