<section class="subscribe">
  <div class="container">
    <div class="subscribe-text">
      <h2 class="title">Сила в знаниях</h2>
      <p>Подпшитесь на новостную рассылку, чтобы быть в курсе последних новостей!</p>
    </div>
    <form action="#" class="subscribe-form">
      <input type="email" class="subscribe-input" placeholder="Ваш e-mail" />
      <button class="subscribe-btn"></button>
      {# <div class="subscribe-message">Это поле необходимо заполнить!</div> #}
      {# <div class="subscribe-message">Подписка оформлена</div> #}
      {# <button class="subscribe-btn error"></button> #}
      {# <button class="subscribe-btn success"></button> #}
    </form>
  </div>
</section>