.header
  padding-top: 80px
  @include flexbox
  align-items: flex-start
  &-logo
    display: block
    width: 60px
    height: 60px
    border-radius: 100%
    background: var(--color-green)
  &-nav
    @include flexbox
    align-items: center
    font-size: 20px
    line-height: 22px
    text-transform: uppercase
    li
      padding-left: 26px
      position: relative
      color: var(--color-black)
      &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: -1.5px
        width: 29px
        height: 12px
        margin: auto 0
        background: var(--color-green)
        border-top: 1px solid var(--color-black)
        border-bottom: 1px solid var(--color-black)
      a
        display: block
        padding: 18px 24px
        border-radius: 999px
        background: var(--color-green)
        border: 1px solid var(--color-black)
      &.active
        color: var(--color-white)
        &::before, a
          background: var(--color-black)
        & + li::before
          border-left: 1px solid var(--color-black)
  &-social
    @include flexbox
    align-items: center
    gap: 16px
    margin-left: auto
    margin-right: 16px
    li
      a
        @include flexbox
        align-items: center
        justify-content: center
        width: 60px
        height: 60px
        background: var(--color-white)
        border-radius: 100%
        transition: background .25s
        &:hover
          background: var(--color-green)
      &.lang
        margin-left: 296px
  &-breadcrumbs
    width: 100%
    margin: 24px 0 48px
    font-size: 12px
    line-height: 2
    li
      display: inline
      opacity: 0.5
      &:last-child
        opacity: 1
        &::after
          display: none
      &::after
        content: "/"
        padding: 0 4px
  &-lang
    height: 60px
    @include flexbox
    align-items: center
    border-radius: 99px
    background: #fff
    color: var(--color-black)
    font-size: 18px
    font-weight: 500
    text-transform: uppercase
    padding: 0 32px
    gap: 16px
    margin-left: 16px
    li
      opacity: 0.5
      &.active
        opacity: 1
  &-delimiter
    height: 76px
    width: 200px
    border-top-left-radius: 35px
    border-top-right-radius: 35px
    background: #191919
    position: relative
    display: none
    &::before, &::after
      content: ''
      position: absolute
      width: 35px
      height: 35px
      bottom: 0
      background: var(--corner)
    &::before
      left: -35px
    &::after
      right: -35px
      transform: rotate(90deg)
