.media
  padding: 100px 0
  &-head
    @include flexbox
    align-items: center
    &__text
      width: calc(100% - 470px)
  &-slider
    margin: 48px 0
  &-item
    background: var(--color-black)
    color: var(--color-white)
    padding: 24px
    border-radius: 35px
    display: block
    &__files
      height: 60px
      border-radius: 999px
      @include flexbox
      align-items: center
      justify-content: space-between
      padding: 0 24px
      font-weight: 500
      text-transform: uppercase
      color: var(--color-black)
      background: var(--color-white)
      position: relative
      z-index: 5
      transition: .25s
      &::after
        content: ''
        display: block
        width: 32px
        height: 32px
        background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_179_1505' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_179_1505)'%3E%3Cpath d='M8.72183 24.6219L6.2334 22.1334L18.6001 9.7668H7.75517V6.2334H24.6219V23.1001H21.0885V12.2552L8.72183 24.6219Z' fill='%231F1F1F'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center
    &__img
      width: 100%
      height: 350px
      border-radius: 30px
      object-fit: cover
      object-position: center
      filter: grayscale(1)
      margin-top: -60px
      transition: .25s
    &__date
      font-size: 14px
      line-height: 1.4
      opacity: 0.6
      display: block
      margin-top: 16px
    &__title
      display: block
      margin-top: 8px
      font-size: 18px
      padding-right: 10px
    &:hover
      .media-item__files
        background: var(--color-green)
      .media-item__img
        filter: grayscale(0)
  &-page
    padding-bottom: 80px
    .btn-wrap
      justify-content: center
  &-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin: 48px 0
    gap: 30px
    .media-item:nth-child(n + 10)
      display: none
  &-single
    background: var(--color-black)
    color: var(--color-white)
    padding-bottom: 80px
    .title
      font-size: 76px
      margin-bottom: 40px
    .btn-wrap
      justify-content: center
  &-content
    margin: 48px 0
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
    a
      height: 250px
      display: block
      border-radius: 35px
      overflow: hidden
      position: relative
      &[data-fancybox="photo"]
        &::before
          content: ''
          position: absolute
          top: 16px
          left: 16px
          width: 60px
          height: 60px
          border-radius: 100%
          background: var(--color-black) url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_216_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_216_15)'%3E%3Cpath d='M2.51953 21.4804V14.6043H5.16956V16.9782L7.94453 14.2032L9.79673 16.0554L7.02176 18.8304H9.39566V21.4804H2.51953ZM14.6043 21.4804V18.8304H16.9782L14.2032 16.0554L16.0554 14.2032L18.8304 16.9782V14.6043H21.4804V21.4804H14.6043ZM7.94453 9.79673L5.16956 7.02176V9.39566H2.51953V2.51953H9.39566V5.16956H7.02176L9.79673 7.94453L7.94453 9.79673ZM16.0554 9.79673L14.2032 7.94453L16.9782 5.16956H14.6043V2.51953H21.4804V9.39566H18.8304V7.02176L16.0554 9.79673Z' fill='%23D8FF69'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center
          transform: scale(0)
          transition: .25s
        &:hover::before
          transform: scale(1)
      &[data-fancybox="video"]
        &::before
          content: ''
          position: absolute
          z-index: 1
          top: 0
          left: 0
          right: 0
          bottom: 0
          background: #000
          opacity: 0.4
        &::after
          content: ''
          position: absolute
          z-index: 2
          top: 0
          left: 0
          right: 0
          bottom: 0
          margin: auto
          width: 96px
          height: 64px
          background: var(--color-black) url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 7.5359C20.6667 9.0755 20.6667 12.9245 18 14.4641L6 21.3923C3.33333 22.9319 -1.13682e-06 21.0074 -1.00222e-06 17.9282L-3.96541e-07 4.07179C-2.61945e-07 0.992591 3.33333 -0.931906 6 0.607695L18 7.5359Z' fill='%23D8FF69'/%3E%3C/svg%3E%0A") no-repeat center
          border-radius: 20px

  &-events
    padding: 100px 0
    .media-grid
      margin-bottom: 0
    .title
      font-size: 86px

.splide__slide.is-active .media-item
  .media-item__files
    background: var(--color-green)
  .media-item__img
    filter: grayscale(0)
