{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container">
    {% include 'components/_header.html' %}
    <div class="hero-content">
      <h1 class="hero-title">разработка игр и приложений <span>изменяющих</span> <span class="highlighter">вашу жизнь</span></h1>
      <div class="btn-wrap"><a href="#" class="btn btn-white"><b>Портфолио</b></a></div>
    </div>
    <img src="img/hero-image.png" alt="" class="hero-image">
  </div>
</section>

<section class="company">
  <div class="container">
    <div class="company-text">
      <h2 class="title">Two B Soft</h2>
      <h3 class="subtitle">О компании</h3>
      <p>Активно развивающаяся команда профессионалов.<br> На сегодняшний день в нашем портфолио <b>более 10ти проектов, как игровых, на пк и мобильные устройства</b>, так и приложений для детей, в том числе и развивающих.</p>
      <p>По мимо разработки мы активно посещаем различного рода мероприятия индустрии и около нее. Часть из них вы можете увидеть в нашем портфолио. В настоящее время наша команда активно работает <b>над проектом под названием Argy Bargy</b>.</p>
    </div>
    <div class="company-images">
      <div class="splide company-slider-1">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide"><img src="img/company-slide-1.jpg"></li>
            <li class="splide__slide"><img src="img/company-slide-2.jpg"></li>
            <li class="splide__slide"><img src="img/company-slide-3.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="splide company-slider-2">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide"><img src="img/company-slide-5.jpg"></li>
            <li class="splide__slide"><img src="img/company-slide-6.jpg"></li>
            <li class="splide__slide"><img src="img/company-slide-4.jpg"></li>
            <li class="splide__slide"><img src="img/company-slide-7.jpg"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="projects">
  <div class="container">
    <div class="projects-head">
      <h2 class="title">Наши проекты</h2>
      <a href="#" class="btn btn-green"><b>Все проекты</b></a>
    </div>
    <ul class="tabs">
      <li class="active"><a href="javascript:;">Все</a></li>
      <li><a href="javascript:;">Приложения</a></li>
      <li><a href="javascript:;">Игры</a></li>
    </ul>
    <div class="splide projects-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">{% include 'components/projects-item.html' %}</li>
          <li class="splide__slide">{% include 'components/projects-item.html' %}</li>
          <li class="splide__slide">{% include 'components/projects-item.html' %}</li>
          <li class="splide__slide">{% include 'components/projects-item.html' %}</li>
        </ul>
      </div>
    </div>
    <div class="control">
      <div class="control-arrow projects-prev"></div>
      <div class="control-progress"><div class="control-progress__bar projects-bar"></div></div>
      <div class="control-arrow projects-next"></div>
    </div>
  </div>
</section>

{% endblock %}