{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container">
    {% include 'components/_header.html' %}
    <div class="hero-content">
      <h1 class="hero-title">разработка игр и приложений <span>изменяющих</span> <span class="highlighter">вашу жизнь</span></h1>
      <div class="btn-wrap"><a href="#" class="btn btn-white"><b>Портфолио</b></a></div>
    </div>
    <img src="img/hero-image.png" alt="" class="hero-image">
  </div>
</section>

{% endblock %}