{% extends 'components/_layout.html' %}
{% set site_title = 'Страница медиа' %}

{% block content %}

<section class="media-single">
  <div class="container">
    {% include 'components/_header.html' %}
    <h2 class="title">Название игровой выставки</h2>
    <ul class="tabs">
      <li class="active" data-category="all"><a href="javascript:;">Все</a></li>
      <li data-category="photo"><a href="javascript:;">Фото</a></li>
      <li data-category="video"><a href="javascript:;">Видео</a></li>
    </ul>
    <ul class="media-content content">
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="video"><a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox="video"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="video"><a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox="video"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="video"><a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox="video"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="video"><a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox="video"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="video"><a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox="video"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="video"><a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox="video"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
      <li data-category="photo"><a href="img/media-item.jpg" data-fancybox="photo"><img src="img/media-item.jpg" alt="" loading="lazy"></a></li>
    </ul>
    <div class="btn-wrap"><a href="javascript:;" class="btn btn-white btn-more"><b>Показать еще</b></a></div>
  </div>
</section>

<section class="media-events">
  <div class="container">
    <h2 class="title">Похожие мероприятия</h2>
    <div class="media-grid">
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
    </div>
  </div>
</section>

{% include 'components/subscribe.html' %}

{% endblock %}