{% extends 'components/_layout.html' %}
{% set site_title = 'Медиа' %}

{% block content %}

<section class="media-page header-black">
  <div class="container">
    {% include 'components/_header.html' %}
    <h2 class="title">Фото и&nbsp;видео</h2>
    <div class="media-grid">
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
      {% include 'components/media-item.html' %}
    </div>
    <div class="btn-wrap"><a href="#" class="btn btn-black btn-more"><b>Показать еще</b></a></div>
  </div>
</section>

{% include 'components/feedback.html' %}

{% include 'components/subscribe.html' %}

{% endblock %}