{% extends 'components/_layout.html' %}
{% set site_title = 'Страница портфолио' %}

{% block content %}

<section class="portfolio-main">
  <div class="container">
    {% include 'components/_header.html' %}
    <div class="portfolio-card">
      <a href="https://www.youtube.com/watch?v=IS0SItAzEXg" data-fancybox class="portfolio-card__video"><img src="img/projects-item.jpg" alt=""></a>
      <div class="portfolio-card__content">
        <img src="img/projects-logo.png" alt="" class="portfolio-card__logo">
        <h2 class="portfolio-card__title">Argy Bargy Legends</h2>
        <div class="portfolio-card__text">
          <p>Коллекционная карточная игра о противостоянии трех фракций: желудей, поплавков и свечей. Создайте уникальную, сильную колоду и впишите себя в историю Argy Bargy сокрушая всех и вся на своем пути.</p>
          <p class="date">Дата выхода: 17 янв. 2023</p>
        </div>
        <ul class="portfolio-card__links">
          <li><a href="#"><img src="img/svg/googleplay.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/appstore.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-about">
  <div class="container">
    <h2 class="title-md">ОБ ЭТОЙ ИГРЕ</h2>
    <p>Можете себе представить, что произойдет, если собрать в одном месте желудей, поплавков и свечек?<br> Думаете, что это абсурд? Бессмыслица? Только не в Argy Bargy Legends.</p>
    <ul class="portfolio-about__gallery">
      <li><a href="img/projects-item.jpg" data-fancybox="about"><img src="img/projects-item.jpg" alt="" loading="lazy"></a></li>
      <li><a href="img/projects-item.jpg" data-fancybox="about"><img src="img/projects-item.jpg" alt="" loading="lazy"></a></li>
    </ul>
  </div>
</section>

<section class="portfolio-collection">
  <div class="container">
    <div class="portfolio-collection__text">
      <h2 class="title-md">Коллекционная</h2>
      <h3 class="subtitle">Карточная игра</h3>
      <p>Вам предстоит сражаться забавными существами. В начале игры, в нынешней версии, вам предстоит возглавить небольшой отряд комичных, но очень смелых желудей, которые решили отомстить за то, что их хотели уничтожить. </p>
    </div>
    <img src="img/collection.png" alt="" class="portfolio-collection__image">
  </div>
</section>

<section class="portfolio-updates">
  <div class="container">
    <h2 class="title-md">Дальнейшие</h2>
    <h3 class="subtitle">Обновления</h3>
    <p>Мы планируем ввести обновления в которых вам будут доступны и две другие фракции, поплавки и свечи.</p>
    <div class="portfolio-updates__grid">
      <div class="portfolio-updates__item">
        <div class="portfolio-updates__image"><img src="img/updates-1.png" alt=""></div>
        <h4>Жёлуди</h4>
        <p>Энергичные и смелые, они готовы сразиться с каждым, кто станет на их пути. У каждого своя особая экипировка, булава, мечи и стрелы. Им предстоит серьезный бой, в котором они выйдут победителями.</p>
      </div>
      <div class="portfolio-updates__item">
        <div class="portfolio-updates__image"><img src="img/updates-2.png" alt=""></div>
        <h4>Поплавки</h4>
        <p>Это не менее дерзкие, словно пираты. Они облачились в разнообразные одежды. Кто-то в качестве защиты использует акваланг, кто-то заручился поддержкой морских хищников.</p>
      </div>
      <div class="portfolio-updates__item">
        <div class="portfolio-updates__image"><img src="img/updates-3.png" alt=""></div>
        <h4>Свечки</h4>
        <p>Они готовы испепелить врага огнем или взорвать их петардами, а у кого-то для сражения есть арсенал настоящего оружия.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}