{% extends 'components/_layout.html' %}
{% set site_title = 'Портфолио' %}

{% block content %}

<section class="portfolio">
  <div class="container">
    {% include 'components/_header.html' %}
    <h2 class="title">Портфолио</h2>
    <ul class="tabs">
      <li class="active"><a href="javascript:;">Все</a></li>
      <li><a href="javascript:;">Приложения</a></li>
      <li><a href="javascript:;">Игры</a></li>
    </ul>
    <div class="portfolio-content">
      {% include 'components/portfolio-item.html' %}
      {% include 'components/portfolio-item.html' %}
      {% include 'components/portfolio-item.html' %}
      {% include 'components/portfolio-item.html' %}
      {% include 'components/portfolio-item.html' %}
      {% include 'components/portfolio-item.html' %}
    </div>
    <div class="btn-wrap"><a href="#" class="btn btn-black btn-more"><b>Показать еще</b></a></div>
  </div>
</section>

{% include 'components/feedback.html' %}

{% endblock %}