{% extends 'components/_layout.html' %}
{% set site_title = 'Страница портфолио' %}

{% block content %}

<section class="portfolio-main">
  <div class="container">
    {% include 'components/_header.html' %}
    <div class="portfolio-card">
      <a href="https://www.youtube.com/watch?v=IS0SItAzEXg" class="portfolio-card__video"><img src="img/projects-item.jpg" alt=""></a>
      <div class="portfolio-card__content">
        <img src="img/projects-logo.png" alt="" class="portfolio-card__logo">
        <h2 class="portfolio-card__title">Argy Bargy Legends</h2>
        <div class="portfolio-card__text">
          <p>Коллекционная карточная игра о противостоянии трех фракций: желудей, поплавков и свечей. Создайте уникальную, сильную колоду и впишите себя в историю Argy Bargy сокрушая всех и вся на своем пути.</p>
          <p class="date">Дата выхода: 17 янв. 2023</p>
        </div>
        <ul class="portfolio-card__links">
          <li><a href="#"><img src="img/svg/googleplay.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/appstore.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}